extends layout

block rightContent
    //- h1= title
    .container
        #body-container.center-block
            a#btn-new-community.btn.btn-default.btn-lg(href='/new') 新建小区
                .glyphicon.glyphicon-plus
            a#btn-manage-community.btn.btn-default.btn-lg(href='/manage') 管理小区
                .glyphicon.glyphicon-home
            a#btn-meta-gen.btn.btn-default.btn-lg(href='/newEntity') 元数据管理
                .glyphicon.glyphicon-home

