extends layout_plain
block content
    #navbar.navbar.navbar-inverse.navbar-fixed-top
        a.navbar-brand(href='/') 社区基础数据管理系统
        if user
            a.navbar-text.navbar-right= '欢迎您，' + user.name

    #body-container.row
        #left-nav.col-md-2.col-xs-2
            a.btn.btn-lg.btn-inverse 元数据管理
            .second-level
                a.btn.btn-sm.btn-inverse(href='/meta/newEntity') 社区定义
                a.btn.btn-sm.btn-inverse 邻里社交
                a.btn.btn-sm.btn-inverse 公共服务
                a.btn.btn-sm.btn-inverse 便民服务
                a.btn.btn-sm.btn-inverse 支付信息
                a.btn.btn-sm.btn-inverse 身份管理

            a.btn.btn-lg.btn-inverse 基础数据管理
            .second-level
                a.btn.btn-sm.btn-inverse 用户数据
                a.btn.btn-sm.btn-inverse 用户数据
                a.btn.btn-sm.btn-inverse 用户数据
                a.btn.btn-sm.btn-inverse 用户数据
                a.btn.btn-sm.btn-inverse 用户数据


            a#copyright  ©2015 DC LAB SJTU

        #right-content.col-md-10.col-sx-10
            block rightContent