doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
        //- link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/components/flat-ui/dist/css/flat-ui.min.css')           
        link(rel='stylesheet', href='/stylesheets/style.css')
        block css
    body
        #body-container.container
            block content
        .cover


    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/flat-ui/dist/js/flat-ui.min.js')
    script(src='/javascripts/index.js')

    block js


