doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
        //- link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/components/flat-ui/dist/css/flat-ui.min.css')           
        link(rel='stylesheet', href='/stylesheets/style.css')
        block css
    body
        #navbar.navbar.navbar-inverse.navbar-fixed-top
            a.navbar-brand(href='/') 社区基础数据管理系统
            if user
                a.navbar-text.navbar-right= '欢迎您，' + user.name

        #body-container.row
            #left-nav.col-md-1
                a.btn.btn-large.btn-inverse 社区定义元数据 
            .col-md-11
                block content
        .cover


    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/flat-ui/dist/js/flat-ui.min.js')
    script(src='/javascripts/index.js')

    block js


