extends layout_plain
block content
    #navbar.navbar.navbar-inverse.navbar-fixed-top
        a.navbar-brand(href='/') 社区基础数据管理系统
        if user
            a.navbar-text.navbar-right= '欢迎您，' + user.name

    block belowContent