extends layout
block css

block content
    h1= title

    #step-0.panel.panel-default
        .panel-heading
            .panel-title 指定数据库
        .panel-body
            .radio
                label
                    input(type="radio" name="custom-db" id="default-db" value="no" checked) 
                    |默认数据库
            .radio
                label
                    input(type="radio" name="custom-db" id="custom-db" value="yes") 
                    |自定义数据库
            #form-custom-db.form.form-horizontal
                .form-group
                    label.col-sm-2.control-label(for="db-host") 主机地址
                    .col-sm-10
                        input#db-host(type="text" value="localhost").form-control
                .form-group
                    label.col-sm-2.control-label(for="db-port") 端口
                    .col-sm-10
                        input#db-port(type="text" placeholder="3306" value="3306").form-control
                .form-group
                    label.col-sm-2.control-label(for="db-user") 用户名
                    .col-sm-10
                        input#db-user(type="text" value="root").form-control
                .form-group
                    label.col-sm-2.control-label(for="db-password") 密码
                    .col-sm-10
                        input#db-password(type="text" value="").form-control
                .form-group
                    label.col-sm-2.control-label(for="db-name" value="testdb") 数据库名
                    .col-sm-10
                        input#db-name(type="text" value="community_server").form-control

    #step-1.panel.panel-default
        .panel-heading
            .panel-title 地址
        .panel-body
            form.form-inline
                div(data-toggle="distpicker")
                    select#province-selector.form-control
                    select#city-selector.form-control
                    select#area-selector.form-control
                .input-wrapper
                    input(type="text" name="community-name" placeholder="小区名").form-control
            form.form-horizontal
                .form-group
                    label.col-md-2.control-label(for="address") 详细地址
                    .col-md-10
                        input#address(type="text").form-control
    #step-2.panel.panel.panel-default
        .panel-heading
            #community-address.panel-title
            |其他基本信息
        .panel-body 
            div                无



    #btn-submit-new.btn.btn-default.btn-lg.pull-right 提交
        i.glyphicon.glyphicon-chevron-right

block js
    script(src='/components/distpicker/dist/distpicker.data.min.js')
    script(src='/components/distpicker/dist/distpicker.min.js')
